@import "../../styles/variables.scss";

.content {
  border-radius: $border-radius-12;
}

.innerContent {
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $border-color;
  & > div {
    padding: 0.5rem;
    &:nth-child(1) {
      width: 6%;
    }
    &:nth-child(2) {
      width: 32%;
    }
    &:nth-child(3) {
      width: 50%;
    }
    &:nth-child(4) {
      width: 12%;
    }
  }
}

.name {
  font-weight: $font-weight-700;
}

.settingsBox {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}


