@import "../../styles/variables.scss";

.content {
  border: 1px solid $border-color;
  border-radius: $border-radius-12;
  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}

.innerContent {
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  & > div {
    padding: 0.5rem;
    &:nth-child(1) {
      width: 6%;
    }
    &:nth-child(2) {
      width: 20%;
    }
    &:nth-child(3) {
      width: 12%;
    }
    &:nth-child(4) {
      width: 50%;
      @media screen and (max-width: 1440px) {
        width: 44%;
      }
    }
    &:nth-child(5) {
      width: 12%;
      @media screen and (max-width: 1440px) {
        width: 18%;
      }
    }
  }
}

.name {
  font-weight: $font-weight-700;
}

.settingsBox {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}
